<%- include("header") -%>

<h2>This is the about page</h2>

<p>This is a web app for people to save and clear interesting ideas</p>
<hr>
<p>It could also function as a todo list</p>

<%- include("footer") -%>
